<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="class1" class="com.zhao.utils.spring.Class1">
        <!-- collaborators and configuration for this bean go here -->
        <property name="class2">
            <ref bean="Class2"/>
        </property>
    </bean>

    <bean id="Class2" class="com.zhao.utils.spring.Class2">
        <!-- collaborators and configuration for this bean go here -->
        <!--<property name="class1" ref="Class1" />-->
    </bean>

    <bean id="Class3" class="com.zhao.utils.spring.Class2$Class3" />

   <!-- <alias name="Class1" alias="haha" />-->

    <!-- 这种情况是String优先 -->
    <bean id="DI1" class="com.zhao.utils.spring.DIExample">
        <constructor-arg index="0" value="123"/>
        <constructor-arg index="1" value="234"/>
    </bean>

    <bean id="DI2" class="com.zhao.utils.spring.DIExample">
        <constructor-arg type="int" value="123"/>
    </bean>

    <bean id="DI3" class="com.zhao.utils.spring.DIExample">
        <constructor-arg name="years" value="132"/>
        <constructor-arg name="text" value="354"/>
    </bean>

    <!-- more bean definitions go here -->

</beans>